body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	
}

#topbar
{
	background-color: #128870;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}

#topbarL
{
	float:left;
	padding: 20px;
	width: 138px;
	text-align: center;
	border-right: 2px dotted #cccccc;
}

#topbarR
{
	float: left;
	padding: 20px;
	width: 760px;
	font-size: 16px;
	text-align: justify;
}

#sidebar
{
	float: left;
	width: 148px;
	height: 440px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}

#content
{
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	height: 400px;
	text-align: justify;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
}
.optionlink{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 12px 40px 12px 40px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
	text-decoration: none;
}
.optionlink:visited
{
	color: inherit;
	}
.optionlink:link 
{
	color: inherit;
	}
.optionlink:active 
{
	color: inherit;
	}
.optionlink:hover 
{
	background-color: #000000;
	cursor: pointer;
	}


.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height: 25px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
	border-top: 2px dotted #444444;
	text-decoration: none;
	color: black;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}
.leftsidetekst{
	text-decoration: none;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

.download{
	text-align: center;
}

.github{
	font-size: 27px;
	font-weight: 800;
	letter-spacing: 2px;
	text-decoration: none;
	color: black;
	border-radius: 30px;
}.github:visited
{
	color: black;
	}
.github:link 
{
	color: black;
	}
.github:active 
{
	color: black;
	}
.github:hover 
{
	background-color: lightgray;
	cursor: pointer;
	}



.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #ffc421;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

button:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

button:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

button:focus {
	outline: none;
}
